.root {
    display: flex;
    flex-direction: column;
    height: 100vh;

    .body {
        display: flex;
        height: 100%;

        .page {
            flex: 1;
            max-width: 100%;
            overflow-x: hidden;

        }
    }
}